<ion-view title="Certificação Halal" id="page9" class=" ">
    <ion-content padding="true" class="has-header">
        <div style="margin-right:-20px;">
            <a ui-sref="home" id="certificaOHalal-button39" style="left:-10px;color:#FFFFFF;" class=" button button-calm  button-full icon-left ion-android-arrow-back">FAMBRAS</a>
        </div>
        <div style="margin-right:-20px;">
            <button id="certificaOHalal-button40" style="left:-10px;color:#FFFFFF;" class=" button button-calm  button-full ">Certificação Halal</button>
        </div>
        <p id="certificaOHalal-markdown14" style="color:#000000;text-align:justify;" class=" ">
            <strong>A Certificação Halal</strong>
            <br>Processo pelo qual uma agencia controlada pelo governo e ou uma organização islâmica reconhecida, certifica a aptidão das industrias em praticar os procedimentos Halal, produzir, armazenar, comercializar produtos destinados aos consumidores
            muçulmanos.</p>
        <p id="certificaOHalal-markdown15" style="color:#000000;text-align:justify;" class=" ">
            <strong>O que é um certificado Halal?</strong>
            <br>É um documento fiel de garantia emitido por uma instituição certificadora Halal reconhecida por países islâmicos, para atestar que a &nbsp; O processo de certificação Halal, pode ocorrer em duas metodologias, ambas expressas no</p>
        <div style="margin-right:-20px;">
            <button id="certificaOHalal-button41" style="left:-10px;color:#FFFFFF;background-color:#C8C8C8" class=" button button-dark  button-full "><font color="black">Indústrias Certificadas</font></button>
        </div>
        <div style="margin-right:-20px;">
            <button id="certificaOHalal-button42" style="left:-10px;color:#FFFFFF;background-color:#C8C8C8" class=" button button-dark  button-full "><font color="black">Frigoríficos Certificados</font></button>
        </div>
        <div style="margin-right:-20px;">
            <button id="certificaOHalal-button43" style="left:-10px;color:#FFFFFF;background-color:#C8C8C8" class=" button button-dark  button-full "><font color="black">Conceito Halal</font></button>
        </div>
    </ion-content>
</ion-view>