<ion-view title="Controle de Qualidade - Invoice" id="page18" class=" ">
    <ion-content padding="true" class="has-header">
        <div style="margin-right:-20px;">
            <a ui-sref="home" id="controleDeQualidadeInvoice-button90" style="left:-10px;color:#FFFFFF;" class=" button button-calm  button-full icon-left ion-android-arrow-back ">FAMBRAS</a>
        </div>
        <div style="margin-right:-20px;">
            <a ui-sref="controleDeQualidade" id="controleDeQualidadeInvoice-button91" style="left:-10px;color:#FFFFFF;" class=" button button-calm  button-full icon-left ion-android-arrow-back">Controle de Qualidade</a>
        </div>
        <div id="controleDeQualidadeInvoice-button-bar15" class=" button-bar "></div>
        <div id="controleDeQualidadeInvoice-button-bar16" class=" button-bar "></div>
        
			<div class="card">
				<div class="item item-text-wrap">
					<p id="controleDeQualidadeInvoice-markdown29" style="color:#000000;" class=" ">
						<strong>Invoice número:</strong>123456
						<br><br>
						<strong>Planta:</strong>JBS - Campo Grande
						<br><br>
						<strong>SIF:</strong>1662
					</p>
				</div>
			</div>
        <p id="controleDeQualidadeInvoice-markdown30" style="color:#000000;font-size:20px;text-align:center;" class=" ">
            <strong>CONTROLES</strong>
        </p>
        <p id="controleDeQualidadeInvoice-markdown31" style="color:#63C4BA;" class=" ">
            <strong>PRODUÇÃO</strong>
        </p>
		
         <div class="list card">

		
			
			<div class="row item">
				<div class="col col-33"><p style="color:#63C4BA;" class=" ">Abate de<br> animais</p></div>
				<div class="col"><p style="color:#63C4BA;" class=" ">2</p></div>
				<div class="col"><button ui-sref="#" id="governos-button57" class=" button button-small button-calm   ">Tirar Foto</button></div>
				<div class="col"><button ui-sref="#" id="governos-button57" class=" button button-small button-calm   ">Editar</button></div>
			</div>
		
		
			<div class="row item">
					<div class="col col-33"><p style="color:#63C4BA;" class=" ">Produtos e<br> estocagem</p></div>
					<div class="col"><p style="color:#63C4BA;" class=" ">2</p></div>
					<div class="col"><button ui-sref="#" id="governos-button57" class=" button button-small button-calm   ">Tirar Foto</button></div>
					<div class="col"><button ui-sref="#" id="governos-button57" class=" button button-small button-calm   ">Editar</button></div>
				</div>
		
			<div class="row item">
					<div class="col col-33"><p style="color:#63C4BA;" class=" ">Embalagem e<br> etiquetas</p></div>
					<div class="col"><p style="color:#63C4BA;" class=" ">1</p></div>
					<div class="col"><button ui-sref="#" id="governos-button57" class=" button button-small button-calm   ">Tirar Foto</button></div>
					<div class="col"><button ui-sref="#" id="governos-button57" class=" button button-small button-calm   ">Editar</button></div>
				</div>
		
		

		</div>
		
		
        <p id="controleDeQualidadeInvoice-markdown32" style="color:#000000;" class=" ">
            <strong>CONTAINER</strong>
        </p>
		 <div class="list card">

		
			
			<div class="row item">
				<div class="col col-33">Container<br> Carregado</div>
				<div class="col">0</div>
				<div class="col"><button ui-sref="#" id="governos-button57" class=" button button-small button-stable   ">Tirar Foto</button></div>
				<div class="col"><button ui-sref="#" id="governos-button57" class=" button button-small button-stable   ">Editar</button></div>
			</div>
		
		
			<div class="row item">
					<div class="col col-33">Conferência</div>
					<div class="col">0</div>
					<div class="col"><button ui-sref="#" id="governos-button57" class=" button button-small button-stable   ">Tirar Foto</button></div>
					<div class="col"><button ui-sref="#" id="governos-button57" class=" button button-small button-stable   ">Editar</button></div>
				</div>
		
			<div class="row item">
					<div class="col col-33">Termômetro</div>
					<div class="col">0</div>
					<div class="col"><button ui-sref="#" id="governos-button57" class=" button button-small button-stable   ">Tirar Foto</button></div>
					<div class="col"><button ui-sref="#" id="governos-button57" class=" button button-small button-stable   ">Editar</button></div>
				</div>
			<div class="row item">
					<div class="col col-33">Lacre</div>
					<div class="col">0</div>
					<div class="col"><button ui-sref="#" id="governos-button57" class=" button button-small button-stable   ">Tirar Foto</button></div>
					<div class="col"><button ui-sref="#" id="governos-button57" class=" button button-small button-stable   ">Editar</button></div>
				</div>
		

		</div>
        <form id="controleDeQualidadeInvoice-form14" class="list ">
            
            <p id="controleDeQualidadeInvoice-markdown33" style="color:#000000;" class=" ">
                <strong>EMBARQUE</strong>
            </p>
            <div class="list card">

		
			
			<div class="row item">
				<div class="col col-33">Termômetro</div>
				<div class="col">0</div>
				<div class="col"><button ui-sref="#" id="governos-button57" class=" button button-small button-stable   ">Tirar Foto</button></div>
				<div class="col"><button ui-sref="#" id="governos-button57" class=" button button-small button-stable   ">Editar</button></div>
			</div>
		
		
			<div class="row item">
					<div class="col col-33">Container</div>
					<div class="col">0</div>
					<div class="col"><button ui-sref="#" id="governos-button57" class=" button button-small button-stable   ">Tirar Foto</button></div>
					<div class="col"><button ui-sref="#" id="governos-button57" class=" button button-small button-stable   ">Editar</button></div>
				</div>
		
			<div class="row item">
					<div class="col col-33">Lacre</div>
					<div class="col">0</div>
					<div class="col"><button ui-sref="#" id="governos-button57" class=" button button-small button-stable   ">Tirar Foto</button></div>
					<div class="col"><button ui-sref="#" id="governos-button57" class=" button button-small button-stable   ">Editar</button></div>
				</div>
			<div class="row item">
					<div class="col col-33">Relatório <br>de Embarque</div>
					<div class="col">0</div>
					<div class="col"><button ui-sref="#" id="governos-button57" class=" button button-small button-stable   ">Tirar Foto</button></div>
					<div class="col"><button ui-sref="#" id="governos-button57" class=" button button-small button-stable   ">Editar</button></div>
				</div>
		

		</div>
            <p id="controleDeQualidadeInvoice-markdown34" style="color:#000000;" class=" ">
                <strong>ETIQUETA CONTROLE DE QUALIDADE</strong>
            </p>
        <div class="list card">
				
			<div class="row item">
				<div class="col col-33">Etiqueta</div>
				<div class="col">0</div>
				<div class="col"><button ui-sref="#" id="governos-button57" class=" button button-small button-stable   ">Tirar Foto</button></div>
				<div class="col"><button ui-sref="#" id="governos-button57" class=" button button-small button-stable   ">Editar</button></div>
			</div>
		
		</div>
		

		
        </form>
    </ion-content>
</ion-view>