<ion-view title="Controle de Qualidade - Invoice" id="page18" class=" ">
    <ion-content padding="true" class="has-header">
        <div style="margin-right:-20px;">
            <a ui-sref="home" id="controleDeQualidadeInvoice-button90" style="left:-10px;color:#FFFFFF;" class=" button button-calm  button-full icon-right ion-android-settings ">FAMBRAS</a>
        </div>
        <div style="margin-right:-20px;">
            <a ui-sref="governos" id="controleDeQualidadeInvoice-button91" style="left:-10px;color:#FFFFFF;" class=" button button-calm  button-full ">Controle de Qualidade</a>
        </div>
        <div id="controleDeQualidadeInvoice-button-bar15" class=" button-bar "></div>
        <div id="controleDeQualidadeInvoice-button-bar16" class=" button-bar "></div>
        <p id="controleDeQualidadeInvoice-markdown29" style="color:#000000;" class=" ">
            <strong>Invoice número:</strong>1232123402
            <br>
            <strong>Planta:</strong>JBS - Campo Grande
            <br>
            <strong>SIF:</strong>1662</p>
        <p id="controleDeQualidadeInvoice-markdown30" style="color:#000000;text-align:center;" class=" ">
            <strong>CONTROLES</strong>
        </p>
        <p id="controleDeQualidadeInvoice-markdown31" style="color:#000000;" class=" ">
            <strong>PRODUÇÃO</strong>
        </p>
        <ion-list id="controleDeQualidadeInvoice-list19" class=" ">
            <ion-item id="controleDeQualidadeInvoice-list-item31" class="  ">COLOCAR ITENS COM BOTOES</ion-item>
        </ion-list>
        <p id="controleDeQualidadeInvoice-markdown32" style="color:#000000;" class=" ">
            <strong>CONTAINER</strong>
        </p>
        <form id="controleDeQualidadeInvoice-form14" class="list ">
            <ion-item id="controleDeQualidadeInvoice-list-item32" class="  ">COLOCAR ITENS COM BOTOES</ion-item>
            <p id="controleDeQualidadeInvoice-markdown33" style="color:#000000;" class=" ">
                <strong>EMBARQUE</strong>
            </p>
            <ion-item id="controleDeQualidadeInvoice-list-item34" class="  ">COLOCAR ITENS COM BOTOES</ion-item>
            <p id="controleDeQualidadeInvoice-markdown34" style="color:#000000;" class=" ">
                <strong>ETIQUETA CONTROLE DE QUALIDADE</strong>
            </p>
            <ion-item id="controleDeQualidadeInvoice-list-item33" class="  ">COLOCAR ITENS COM BOTOES</ion-item>
        </form>
    </ion-content>
</ion-view>