<ion-view title="Controle de Qualidade" id="page17" class=" ">
    <ion-content padding="true" class="has-header">
        <div style="margin-right:-20px;">
            <a ui-sref="home" id="controleDeQualidade-button84" style="left:-10px;color:#FFFFFF;" class=" button button-calm  button-full icon-right ion-android-settings ">FAMBRAS</a>
        </div>
        <div style="margin-right:-20px;">
            <a ui-sref="governos" id="controleDeQualidade-button85" style="left:-10px;color:#FFFFFF;" class=" button button-calm  button-full ">Controle de Qualidade</a>
        </div>
        <div id="controleDeQualidade-button-bar13" class=" button-bar "></div>
        <div id="controleDeQualidade-button-bar14" class=" button-bar "></div>
        <p id="controleDeQualidade-markdown26" style="color:#000000;" class=" ">
            <strong>Roberto dos Santos Hadib</strong>
            <br>
            <strong>Cargo:</strong>Supervisor de Planta
            <br>
            <strong>Planta:</strong>JBS - Campo Grande
            <br>
            <strong>SIF:</strong>1662</p>
        <p id="controleDeQualidade-markdown27" style="color:#000000;text-align:center;" class=" ">
            <strong>INVOICES DE ATENDIMENTO</strong>
        </p>
        <ion-list id="controleDeQualidade-list18" class=" ">
            <ion-item id="controleDeQualidade-list-item30" class="  ">COLOCAR ITENS COM BOTOES</ion-item>
        </ion-list>
        <p id="controleDeQualidade-markdown28" style="color:#000000;text-align:center;" class=" ">
            <strong>PESQUISAR INVOICES FINALIZADOS</strong>
        </p>
        <form id="controleDeQualidade-form13" class="list ">
            <label class="item item-input " id="controleDeQualidade-input28">
                <input type="text" placeholder="Código do invoice">
            </label>
        </form>
        <button id="controleDeQualidade-button89" class=" button button-positive  ">Visualizar</button>
    </ion-content>
</ion-view>