<ion-view title="Controle de Qualidade" id="page17" class=" " hide-nav-bar="true">
    <ion-content padding="false" class="manual-ios-statusbar-padding">
        <div style="margin-right:-20px;">
            <a ui-sref="home" id="controleDeQualidade-button84" style="left:-10px;color:#FFFFFF;" class=" button button-calm  button-full icon-left ion-android-arrow-back">FAMBRAS</a>
        </div>
        <div style="margin-right:-20px;">
            <a id="controleDeQualidade-button85" style="left:-10px;color:#FFFFFF;" class=" button button-calm  button-full ">Controle de Qualidade</a>
        </div>
        <div id="controleDeQualidade-button-bar13" class=" button-bar "></div>
        <div id="controleDeQualidade-button-bar14" class=" button-bar "></div>
        
			<div class="card">
				<div class="item item-text-wrap">
					<p id="controleDeQualidade-markdown26" style="color:#000000;" class=" ">
						<strong>Roberto dos Santos Hadib</strong>
						<br><br>
						<strong>Cargo:</strong> Supervisor de Planta
						<br><br>
						<strong>Planta:</strong> JBS - Campo Grande
						<br><br>
						<strong>SIF:</strong> 1662</p>
				</div>
			</div>
        <p id="controleDeQualidade-markdown27" style="color:#000000;text-align:center;" class=" ">
            <strong>INVOICES EM ATENDIMENTO</strong>
        </p>
        <div class="list card">

		
			
				<div class="row item">
					<div class="col"><p style="margin-top:7px;font-size:14px"> 123456</p></div>
					<div class="col"><p style="margin-top:7px;font-size:14px">12/07/2016</p></div>
					<div class="col"><button ui-sref="controleDeQualidadeInvoice" id="governos-button57" class=" button button-small button-calm   ">Inserir Dados</button></div>
				</div>
		
		
			<div class="row item">
					<div class="col"><p style="margin-top:7px;font-size:14px">789101</p></div>
					<div class="col"><p style="margin-top:7px;font-size:14px">12/08/2016</p></div>
					<div class="col"><button id="governos-button57" class=" button button-small button-calm   ">Inserir Dados</button></div>
				</div>
		
			<div class="row item">
					<div class="col"><p style="margin-top:7px;font-size:14px">121314</p></div>
					<div class="col"><p style="margin-top:7px;font-size:14px">12/09/2016</p></div>
					<div class="col"><button id="governos-button57" class=" button button-small button-calm   ">Inserir Dados</button></div>
				</div>
		
		

		</div>
        <p id="controleDeQualidade-markdown28" style="color:#000000;text-align:center;" class=" ">
            <strong>PESQUISAR INVOICES FINALIZADOS</strong>
        </p>
               
		<div class="row">					
					<div class="col col-60"><label class="item item-input " id="controleDeQualidade-input28"><input type="text" placeholder="Código do invoice"></label></div>
					<div class="col col-30"><button ui-sref="controleDeQualidadeInvoice" id="controleDeQualidade-button89" class=" button button-calm ">Visualizar</button></div>
				</div>
    </ion-content>
</ion-view>