<ion-view title="Entrar em Contato" id="page20" class=" ">
    <ion-content padding="true" class="has-header">
        <div style="margin-right:-20px;">
            <a ui-sref="home" id="entrarEmContato-button93" style="left:-10px;color:#FFFFFF;" class=" button button-calm  button-full icon-left ion-android-arrow-back">FAMBRAS</a>
        </div>
        <div style="margin-right:-20px;">
            <a ui-sref="#" id="entrarEmContato-button94" style="left:-10px;color:#FFFFFF;" class=" button button-calm  button-full ">Entrar em Contato</a>
        </div>
        <div id="entrarEmContato-button-bar17" class=" button-bar "></div>
        <div id="entrarEmContato-button-bar18" class=" button-bar "></div>
        <form id="entrarEmContato-form16" class="list ">
            <label class="item item-input " id="entrarEmContato-input39">
                <input type="text" placeholder="Seu Nome">
            </label>
			<div class="spacer" style="height: 10px;"></div>
            <label class="item item-input " id="entrarEmContato-input40">
                <input type="text" placeholder="E-mail">
            </label>
			<div class="spacer" style="height: 10px;"></div>
            <label class="item item-input " id="entrarEmContato-input41">
                <input type="text" placeholder="Telefone">
            </label>
			<div class="spacer" style="height: 10px;"></div>
            <label class="item item-input " id="entrarEmContato-textarea3">
                <textarea placeholder="Mensagem" rows="8"></textarea>
            </label>
			<div class="spacer" style="height: 10px;"></div>
			<button style="margin-left:72%;" id="enviar" class=" button button-calm  button-large ">Enviar</button>
			<div class="spacer" style="height: 10px;"></div>
			
            
        </form>
		<div class="card">
				<div class="item item-text-wrap">
					<p id="entrarEmContato-markdown40" style="color:#000000;text-align:center;" class=" ">FAMBRAS HALAL
						<br>Rua Tejupá - 188 - Jabaquara
						<br>04350-020 São Paulo - SP - Brasil
						<br>Phone 55 (11) 5035-0820 
						<br>www.fambrashalal.com.br
					</p>
				</div>
			</div>
    </ion-content>
</ion-view>