<ion-view title="Entrar em Contato" id="page20" class=" ">
    <ion-content padding="true" class="has-header">
        <div style="margin-right:-20px;">
            <a ui-sref="home" id="entrarEmContato-button93" style="left:-10px;color:#FFFFFF;" class=" button button-calm  button-full icon-right ion-android-settings ">FAMBRAS</a>
        </div>
        <div style="margin-right:-20px;">
            <a ui-sref="governos" id="entrarEmContato-button94" style="left:-10px;color:#FFFFFF;" class=" button button-calm  button-full ">Entrar em Contato</a>
        </div>
        <div id="entrarEmContato-button-bar17" class=" button-bar "></div>
        <div id="entrarEmContato-button-bar18" class=" button-bar "></div>
        <form id="entrarEmContato-form16" class="list ">
            <label class="item item-input " id="entrarEmContato-input39">
                <input type="text" placeholder="Seu Nome">
            </label>
            <label class="item item-input " id="entrarEmContato-input40">
                <input type="text" placeholder="E-mail">
            </label>
            <label class="item item-input " id="entrarEmContato-input41">
                <input type="text" placeholder="Telefone">
            </label>
            <label class="item item-input " id="entrarEmContato-textarea3">
                <span class="input-label"></span><textarea placeholder="Mensagem"></textarea>
            </label>
            <p id="entrarEmContato-markdown40" style="color:#000000;text-align:center;" class=" ">FAMBRAS HALAL
                <br>Rua Tejupá - 188 - Jabaquara
                <br>04350-020 São Paulo - SP - Brasil
                <br>Phone 55 (11) 5035-0820 www.fambrashalal.com.br
            </p>
        </form>
    </ion-content>
</ion-view>