<ion-view title="Governos" id="page67" class=" " hide-nav-bar="true">
    <ion-content padding="false" class="manual-ios-statusbar-padding">
        <div style="margin-right:-20px;">
            <a ui-sref="home" id="governos-button55" style="left:-10px;color:#FFFFFF;" class=" button button-calm  button-full icon-left ion-android-arrow-back ">FAMBRAS</a>
        </div>
        <div style="margin-right:-20px;">
            <button id="governos-button56" style="left:-10px;color:#FFFFFF;" class=" button button-calm  button-full ">Governos</button>
        </div>
        <form id="governos-form10" class="list ">
            
			<div class="row">
				<div class="col col-100"><label class="item item-input " id="governos-input23"><input type="text" placeholder="Porto de Destino"></label></div>
			</div>
			<div class="spacer" style="height: 10px;"></div>
            
            
			<div class="row">
				<div class="col col-66"><label class="item item-input " id="governos-input24"><input type="text" placeholder="Mês de Emissão"></label></div>
				<div align="right" class="col"><button ui-sref="governos" id="governos-button57" class=" button button-calm">Buscar</button></div>
		</div>
        </form>
        
    </ion-content>
</ion-view>