<ion-view title="Governos-Controle de Qualidade" id="page15" class=" ">
    <ion-content padding="true" class="has-header">
        <div style="margin-right:-20px;">
            <a ui-sref="home" id="governosControleDeQualidade-button74" style="left:-10px;color:#FFFFFF;" class=" button button-calm  button-full icon-right ion-android-settings ">FAMBRAS</a>
        </div>
        <div style="margin-right:-20px;">
            <a ui-sref="governos" id="governosControleDeQualidade-button75" style="left:-10px;color:#FFFFFF;" class=" button button-calm  button-full icon-left ion-android-arrow-back ">Governos</a>
        </div>
        <div id="governosControleDeQualidade-button-bar9" class=" button-bar "></div>
        <div id="governosControleDeQualidade-button-bar10" class=" button-bar "></div>
        <a ui-sref="governosCertificado" id="governosControleDeQualidade-button76" class=" button button-calm  ">Certificado</a>
        <button id="governosControleDeQualidade-button77" class=" button button-calm  ">Controle de Qualidade</button>
        <a ui-sref="governosFrigorFico" id="governosControleDeQualidade-button78" class=" button button-calm  ">Frigorífico</a>
        <p id="governosControleDeQualidade-markdown24" style="color:#000000;" class=" ">CONTROLE DE QUALIDADE
            <br>O controle de qualidade envolve inspeções e registro de todas as etapas, do abate ao embarque dos produtos, registrados através dos documentos e evidências abaixo:
            <br>1- Etiqueta de Qualidade
            <br>2- Controle de Produção
            <br>3- Controle de Temperatura
            <br>4- Relatório de Embarque
            <br>5- Controles de Embarque</p>
    </ion-content>
</ion-view>