<ion-view title="Governos" id="page12" class=" " hide-nav-bar="true">
    <ion-content padding="false" class="manual-ios-statusbar-padding">
        <div style="margin-right:-20px;">
            <a ui-sref="home" id="governos-button55" style="left:-10px;color:#FFFFFF;" class=" button button-calm  button-full icon-left ion-android-arrow-back ">FAMBRAS</a>
        </div>
        <div style="margin-right:-20px;">
            <button id="governos-button56" style="left:-10px;color:#FFFFFF;" class=" button button-calm  button-full ">Governos</button>
        </div>
        <form id="governos-form10" class="list ">
            
			<div class="row">
				<div class="col col-100"><label class="item item-input " id="governos-input23"><input type="text" placeholder="Porto de Destino"></label></div>
			</div>
			<div class="spacer" style="height: 10px;"></div>
            
            
			<div class="row">
				<div class="col col-66"><label class="item item-input " id="governos-input24"><input type="text" placeholder="Mês de Emissão"></label></div>
				<div align="right" class="col"><button id="governos-button57" class=" button button-calm  ">Buscar</button></div>
		</div>
        </form>
        <div id="governos-button-bar5" class=" button-bar "></div>
        <p id="controleDeQualidade-markdown27" style="color:#63C4BA;text-align:center;" class=" ">
            <strong>Certificados Emitidos</strong>
        </p>
				
		<div class="list card">

		
			
			<div class="row item">
				<div class="col col-66">123456111</div>
				<div class="col col-75"><button ui-sref="governosCertificado" id="governos-button57" class=" button button-calm  button-small "><p style="font-size:16px;color:#FFFFFF"><p style="font-size:16px;color:#FFFFFF">Visualizar</p></p></button></div>
			</div>
		   
		
		
			<div class="row item">
				<div class="col col-66">789101111</div>
				<div class="col col-75"><button ui-sref="governosCertificado" id="governos-button57" class=" button button-calm  button-small "><p style="font-size:16px;color:#FFFFFF">Visualizar</p></button></div>
			</div>
				
		
		
			<div class="row item">
				<div class="col col-66">121314111</div>
				<div class="col col-75"><button ui-sref="governosCertificado" id="governos-button57" class=" button button-calm  button-small "><p style="font-size:16px;color:#FFFFFF">Visualizar</p></button></div>
			</div>
				
		
		
			<div class="row item">
				<div class="col col-66">151617111</div>
				<div class="col col-75"><button ui-sref="governosCertificado" id="governos-button57" class=" button button-calm  button-small "><p style="font-size:16px;color:#FFFFFF">Visualizar</p></button></div>
			</div>
				
		
			<div class="row item">
				<div class="col col-66">181920111</div>
				<div class="col col-75"><button ui-sref="governosCertificado" id="governos-button57" class=" button button-calm  button-small "><p style="font-size:16px;color:#FFFFFF">Visualizar</p></button></div>
			</div>
				
		
		
			<div class="row item">
				<div class="col col-66">212223111</div>
				<div class="col col-75"><button ui-sref="governosCertificado" id="governos-button57" class=" button button-calm  button-small "><p style="font-size:16px;color:#FFFFFF">Visualizar</p></button></div>
			</div>
				
		
		
			<div class="row item">
				<div class="col col-66">242526111</div>
				<div class="col col-75"><button ui-sref="governosCertificado" id="governos-button57" class=" button button-calm  button-small "><p style="font-size:16px;color:#FFFFFF">Visualizar</p></button></div>
			</div>
				
		
		
			<div class="row item">
				<div class="col col-66">272829111</div>
				<div class="col col-75"><button ui-sref="governosCertificado" id="governos-button57" class=" button button-calm  button-small "><p style="font-size:16px;color:#FFFFFF">Visualizar</p></button></div>
			</div>
				
		
			<div class="row item">
				<div class="col col-66">303132111</div>
				<div class="col col-75"><button ui-sref="governosCertificado" id="governos-button57" class=" button button-calm  button-small "><p style="font-size:16px;color:#FFFFFF">Visualizar</p></button></div>
			</div>
				
		
		
			<div class="row item">
				<div class="col col-66">333435111</div>
				<div class="col col-75"><button ui-sref="governosCertificado" id="governos-button57" class=" button button-calm  button-small "><p style="font-size:16px;color:#FFFFFF">Visualizar</p></button></div>
			</div>
				
		
		
			<div class="row item">
				<div class="col col-66">363738111</div>
				<div class="col col-75"><button ui-sref="governosCertificado" id="governos-button57" class=" button button-calm  button-small "><p style="font-size:16px;color:#FFFFFF">Visualizar</p></button></div>
			</div>
				
	
		
			<div class="row item">
				<div class="col col-66">394041111</div>
				<div class="col col-75"><button ui-sref="governosCertificado" id="governos-button57" class=" button button-calm  button-small "><p style="font-size:16px;color:#FFFFFF">Visualizar</p></button></div>
			</div>
				
	
		
			<div class="row item">
				<div class="col col-66">424344111</div>
				<div class="col col-75"><button ui-sref="governosCertificado" id="governos-button57" class=" button button-calm  button-small "><p style="font-size:16px;color:#FFFFFF">Visualizar</p></button></div>
			</div>
				
	
		

		</div>
    </ion-content>
</ion-view>