<ion-view title="Governos-Certificado" id="page14" class=" ">
    <ion-content padding="true" class="has-header">
        <div style="margin-right:-20px;">
            <a ui-sref="home" id="governosCertificado-button65" style="left:-10px;color:#FFFFFF;" class=" button button-calm  button-full icon-left ion-android-arrow-back">FAMBRAS</a>
        </div>
        <div style="margin-right:-20px;">
            <a ui-sref="governos" id="governosCertificado-button66" style="left:-10px;color:#FFFFFF;" class=" button button-calm  button-full icon-left ion-android-arrow-back ">Governos</a>
        </div>
        
		<div class="row">
				
			<div class="col col-30"><a style="background-color:#54a99f;" ui-sref="governosCertificado" class="button button-calm"><p id="home-markdown5" style="font-size:14px;color:#ffffff" >Certificado</p></a></div>
			<div class="col col-30"><a style="background-color:#e4dada; right:5px;" ui-sref="governosFrigorFico" class="button button-calm"><p id="home-markdown5" style="font-size:14px;color:#353535" >Frigorífico</p></a></div>
			<div class="col col-40"><a style="background-color:#e4dada; right:10px;" ui-sref="governosControleDeQualidade" class="button button-calm"><p id="home-markdown5" style="font-size:12px;color:#353535" >Ctrl Qualidade</p></a></div>
									
		</div>
		<!-- <div class="row">
			<div class="button-bar">
				<a style="background-color:#54a99f;" ui-sref="governosCertificado" class="button button-calm"><p id="home-markdown5" style="font-size:14px;color:#ffffff">Certificado</p></a>
				<a style="background-color:#e4dada; right:5px;" ui-sref="governosFrigorFico" class="button button-calm"><p id="home-markdown5" style="font-size:14px;color:#353535" >Frigorífico</p></a>
				<a style="background-color:#e4dada; right:10px;" ui-sref="governosControleDeQualidade" class="button button-calm"><p id="home-markdown5" style="font-size:12px;color:#353535" >Ctrl Qualidade</p></a>
			</div>
		</div> -->
       
			<div class="card">
				<div class="item item-text-wrap">
					 <p id="verificarCertificado-markdown19" style="color:#000000;" class=" ">
            <strong>Certificado Halal/Halal Certificate:</strong><br><p style="color:#353535;">		123238491</p><br>
			<strong>Número do selo/ Seal number:</strong><br><p style="color:#353535;">	  	2321233</p><br>
			<strong>Data de emissão:</strong><br><p style="color:#353535;">		07/07/2016</p><br>
			<strong>Exportador/Exporter:</strong><br><p style="color:#353535;">	  JBS S.A. Rodovia BR 364, S/N Jd. Prodoeste Km 176</p><br>
			<strong>Produtor/Producer Co.:</strong><br><p style="color:#353535;">	  JBS S.A. – Pedra Preta/MT – SIF 2019 – Brasil</p><br>
			<strong>Unidade de abate/Slaughtering house:</strong><br><p style="color:#353535;">	 JBS S.A. – Pedra Preta/MT – SIF 2019 – Brasil</p><br>
			<strong>Supervisor/Supervisor name:</strong><br><p style="color:#353535;">	  Mohamed Abu Kassem</p><br>
			<strong>Importador/Importer:</strong><br><p style="color:#353535;">	 National Service Projects Organization N.S.P.O Josef Tito St. Cairo Egypt</p><br>
			<strong>Peso líquido/Net weight:</strong><br> <p style="color:#353535;">	10.000,000 Kg</p><br>
			<strong>Peso bruto/Gross weight: </strong><br><p style="color:#353535;">	 11.000,000 Kg</p><br>
			<strong>Transportadora/Transport:</strong><br><p style="color:#353535;">	 Rio Negro</p><br>
			<strong>Porto de embarque/Loading port:</strong><br><p style="color:#353535;">	 Santos, Seaport – Brazil</p><br>
			<strong>Porto de destino/Destination port:</strong><br><p style="color:#353535;">	 Alexandria – Egypt</p><br>
			<strong>Data de abate/Slaugtering date:</strong><br><p style="color:#353535;">	 From 02/06/2016 a 05/06/2016</p><br>
			<strong>Data de validade/Expiry Date:</strong><br><p style="color:#353535;">	  12 months from production date</p><br>
			<strong>Descrição e Quantidade/Description & Quantity:</strong><br><p style="color:#353535;">	 2081 Cartons of Frozen Boneless Beef</p><br>
			<strong>Container Number:</strong><br><p style="color:#353535;">	 CXVU7723212/ BMOU9892938</p><br>
			<strong>L/C Number:</strong><br><p style="color:#353535;">	 2000/003030/23/202392</p><br>
			</p>
				</div>
			</div>
    </ion-content>
</ion-view>