<ion-view title="Governos-Frigorífico" id="page16" class=" ">
    <ion-content padding="true" class="has-header">
        <div style="margin-right:-20px;">
            <a ui-sref="home" id="governosFrigorFico-button79" style="left:-10px;color:#FFFFFF;" class=" button button-calm  button-full icon-right ion-android-settings ">FAMBRAS</a>
        </div>
        <div style="margin-right:-20px;">
            <a ui-sref="governos" id="governosFrigorFico-button80" style="left:-10px;color:#FFFFFF;" class=" button button-calm  button-full icon-left ion-android-arrow-back ">Governos</a>
        </div>
        <div id="governosFrigorFico-button-bar11" class=" button-bar "></div>
        <div id="governosFrigorFico-button-bar12" class=" button-bar "></div>
        <a ui-sref="governosCertificado" id="governosFrigorFico-button81" class=" button button-calm  ">Certificado</a>
        <a ui-sref="governosControleDeQualidade" id="governosFrigorFico-button82" class=" button button-calm  ">Controle de Qualidade</a>
        <button id="governosFrigorFico-button83" class=" button button-calm  ">Frigorífico</button>
        <p id="governosFrigorFico-markdown25" style="color:#000000;" class=" ">
            <strong>LOGOTIPO DO FRIGORIFICO</strong>
            Ao mover para a direita, deve apresentar as fotos Institucionais.
            <br>
            <strong>TEXTO SOBRE O FRIGORÍFICO</strong>
            Com até 500 caracteres a ser fornecido www.jbs.com.br
            <br>
            <strong>PLANTA DE ABATE 1</strong>
            NOME/CÓD. SIF/CIDADE/UF/BRASIL Até 5 fotos da Planta 1, mostrar 1 de cada vez. Mover tela para a direita, para ver as demais.
            <br>
            <strong>PLANTA DE ABATE 2</strong>
            NOME/CÓD. SIF/CIDADE/UF/BRASIL Até 5 fotos da Planta 1, mostrar 1 de cada vez. Mover tela para a direita, para ver as demais.</p>
    </ion-content>
</ion-view>