<ion-view title="Governos-Certificado" id="page14" class=" ">
    <ion-content padding="true" class="has-header">
        <div style="margin-right:-20px;">
            <a ui-sref="home" id="governosCertificado-button65" style="left:-10px;color:#FFFFFF;" class=" button button-calm  button-full icon-right ion-android-settings ">FAMBRAS</a>
        </div>
        <div style="margin-right:-20px;">
            <a ui-sref="governos" id="governosCertificado-button66" style="left:-10px;color:#FFFFFF;" class=" button button-calm  button-full icon-left ion-android-arrow-back ">Governos</a>
        </div>
        <div id="governosCertificado-button-bar7" class=" button-bar "></div>
        <div id="governosCertificado-button-bar8" class=" button-bar "></div>
        <button id="governosCertificado-button71" class=" button button-calm  ">Certificado</button>
        <a ui-sref="governosControleDeQualidade" id="governosCertificado-button72" class=" button button-calm  ">Controle de Qualidade</a>
        <a ui-sref="governosFrigorFico" id="governosCertificado-button73" class=" button button-calm  ">Frigorífico</a>
        <p id="governosCertificado-markdown23" style="color:#000000;" class=" ">
            <strong>Data de Emissão:</strong>05/07/2016
            <br>
            <strong>Importador:</strong>non nossonsonsosso
            <br>
            <strong>Exportador:</strong>nonnono nsos nonson
            <br>
            <strong>Porto de Origem:</strong>nnononsno nonno
            <br>
            <strong>Porto de Destino:</strong>nonnon nono non
            <br>
            <strong>Planta(s) de Abate:</strong>nononno nonnon no
            <br>
            <strong>Porto de Destino:</strong>nonnon nono non</p>
    </ion-content>
</ion-view>