<ion-view title="Governos-Certificado" id="page14" class=" ">
    <ion-content padding="true" class="has-header">
        <div style="margin-right:-20px;">
            <a ui-sref="home" id="governosCertificado-button65" style="left:-10px;color:#FFFFFF;" class=" button button-calm  button-full icon-left ion-android-arrow-back">FAMBRAS</a>
        </div>
        <div style="margin-right:-20px;">
            <a ui-sref="governos" id="governosCertificado-button66" style="left:-10px;color:#FFFFFF;" class=" button button-calm  button-full icon-left ion-android-arrow-back ">Governos</a>
        </div>
        
		<div class="row">
				
			<div class="col col-33"><a ui-sref="governosCertificado" class="button button-calm"><p id="home-markdown5" style="font-size:14px;" >Certificado</p></a></div>
			<div class="col col-33"><a style="left:2px;" ui-sref="governosFrigorFico" class="button button-calm"><p id="home-markdown5" style="font-size:14px;" >Frigorífico</p></a></div>
			<div class="col col-33"><a ui-sref="governosControleDeQualidade" class="button button-calm"><p id="home-markdown5" style="font-size:12px;" >Ctrl Qualidade</p></a></div>
			
		</div>
		
		
       
			<div class="card">
				<div class="item item-text-wrap">
					 <p id="verificarCertificado-markdown19" style="color:#000000;" class=" ">
            <strong>Certificado Halal/Halal Certificate:</strong>	123238491<br><br>
			<strong>Número do selo/ Seal number:</strong>  	2321233<br><br>
			<strong>Data de emissão:</strong>	07/07/2016<br><br>
			<strong>Exportador/Exporter:</strong>  JBS S.A. Rodovia BR 364, S/N Jd. Prodoeste Km 176<br><br>
			<strong>Produtor/Producer Co.:</strong>  JBS S.A. – Pedra Preta/MT – SIF 2019 – Brasil<br><br>
			<strong>Unidade de abate/Slaughtering house:</strong> JBS S.A. – Pedra Preta/MT – SIF 2019 – Brasil<br><br>
			<strong>Supervisor/Supervisor name:</strong>  Mohamed Abu Kassem<br><br>
			<strong>Importador/Importer:</strong> National Service Projects Organization N.S.P.O Josef Tito St. Cairo Egypt<br><br>
			<strong>Peso líquido/Net weight:</strong>  10.000,000 Kg<br><br>
			<strong>Peso bruto/Gross weight: </strong> 11.000,000 Kg<br><br>
			<strong>Transportadora/Transport:</strong> Rio Negro<br><br>
			<strong>Porto de embarque/Loading port:</strong> Santos, Seaport – Brazil<br><br>
			<strong>Porto de destino/Destination port:</strong> Alexandria – Egypt<br><br>
			<strong>Data de abate/Slaugtering date:</strong> From 02/06/2016 a 05/06/2016<br><br>
			<strong>Data de validade/Expiry Date:</strong>  12 months from production date<br><br>
			<strong>Descrição e Quantidade/Description & Quantity:</strong> 2081 Cartons of Frozen Boneless Beef<br><br>
			<strong>Container Number:</strong> CXVU7723212/ BMOU9892938<br><br>
			<strong>L/C Number:</strong> 2000/003030/23/202392<br><br>
			</p>
				</div>
			</div>
    </ion-content>
</ion-view>