<ion-view title="Governos-Frigorífico" id="page16" class=" ">
    <ion-content padding="true" class="has-header">
        <div style="margin-right:-20px;">
            <a ui-sref="home" id="governosFrigorFico-button79" style="left:-10px;color:#FFFFFF;" class=" button button-calm  button-full icon-left ion-android-arrow-back ">FAMBRAS</a>
        </div>
        <div style="margin-right:-20px;">
            <a ui-sref="governos" id="governosFrigorFico-button80" style="left:-10px;color:#FFFFFF;" class=" button button-calm  button-full icon-left ion-android-arrow-back ">Governos</a>
        </div>
        <div class="row">
				<div class="col col-30"><button ui-sref="governosCertificado" id="governos-button57" class=" button button-small button-calm  ">Certificado</button></div>
				<div class="col col-30"><button ui-sref="governosFrigorFico" id="governos-button57" class=" button button-small button-calm  ">Frigorífico</button></div>
				<div class="col col-40"><button ui-sref="governosControleDeQualidade" id="governos-button57" class=" button button-small button-calm  ">Controle de Qualidade</button></div>
		</div>
        
			<div class="card">
				<div class="item item-text-wrap">
					<p id="governosFrigorFico-markdown25" style="color:#000000;" class=" ">
						<strong>LOGOTIPO DO FRIGORIFICO</strong>
						Ao mover para a direita, deve apresentar as fotos Institucionais.
						<br><br>
						<strong>TEXTO SOBRE O FRIGORÍFICO</strong>
						Com até 500 caracteres a ser fornecido www.jbs.com.br
						<br><br>
						<strong>PLANTA DE ABATE 1</strong>
						NOME/CÓD. SIF/CIDADE/UF/BRASIL Até 5 fotos da Planta 1, mostrar 1 de cada vez. Mover tela para a direita, para ver as demais.
						<br><br>
						<strong>PLANTA DE ABATE 2</strong>
						NOME/CÓD. SIF/CIDADE/UF/BRASIL Até 5 fotos da Planta 1, mostrar 1 de cada vez. Mover tela para a direita, para ver as demais.
						</p>
				</div>
			</div>
    </ion-content>
</ion-view>