<ion-view title="Governos-Controle de Qualidade" id="page15" class=" ">
    <ion-content padding="true" class="has-header">
        <div style="margin-right:-20px;">
            <a ui-sref="home" id="governosControleDeQualidade-button74" style="left:-10px;color:#FFFFFF;" class=" button button-calm  button-full icon-left ion-android-arrow-back ">FAMBRAS</a>
        </div>
        <div style="margin-right:-20px;">
            <a ui-sref="governos" id="governosControleDeQualidade-button75" style="left:-10px;color:#FFFFFF;" class=" button button-calm  button-full icon-left ion-android-arrow-back ">Governos</a>
        </div>
        <div class="row">
				<div class="col col-30"><button ui-sref="governosCertificado" id="governos-button57" class=" button button-small button-calm  ">Certificado</button></div>
				<div class="col col-30"><button ui-sref="governosFrigorFico" id="governos-button57" class=" button button-small button-calm  ">Frigorífico</button></div>
				<div class="col col-40"><button ui-sref="governosControleDeQualidade" id="governos-button57" class=" button button-small button-calm  ">Controle de Qualidade</button></div>
		</div>
        
			<div class="card">
				<div class="item item-text-wrap">
					<p id="governosControleDeQualidade-markdown24" style="color:#000000;" class=" "><strong>CONTROLE DE QUALIDADE</strong>
						<br><br>O controle de qualidade envolve inspeções e registro de todas as etapas, do abate ao embarque dos produtos, registrados através dos documentos e evidências abaixo:
						<br><br>1- Etiqueta de Qualidade
						<br>2- Controle de Produção
						<br>3- Controle de Temperatura
						<br>4- Relatório de Embarque
						<br>5- Controles de Embarque</p>
				</div>
			</div>
    </ion-content>
</ion-view>