<ion-view title="Governos" id="page12" class=" ">
    <ion-content padding="true" class="has-header">
        <div style="margin-right:-20px;">
            <a ui-sref="home" id="governos-button55" style="left:-10px;color:#FFFFFF;" class=" button button-calm  button-full icon-right ion-android-settings ">FAMBRAS</a>
        </div>
        <div style="margin-right:-20px;">
            <button id="governos-button56" style="left:-10px;color:#FFFFFF;" class=" button button-calm  button-full ">Governos</button>
        </div>
        <form id="governos-form10" class="list ">
            <label class="item item-input " id="governos-input23">
                <input type="text" placeholder="Porto de Destino">
            </label>
            <label class="item item-input " id="governos-input24">
                <input type="text" placeholder="Mês de Emissão">
            </label>
            <button id="governos-button57" class=" button button-positive  ">Buscar</button>
        </form>
        <div id="governos-button-bar5" class=" button-bar "></div>
        <ion-list id="governos-list16" class=" ">
            <ion-item class="item-divider " id="governos-list-item-divider7">Lista para por itens</ion-item>
        </ion-list>
    </ion-content>
</ion-view>