<ion-view title="Home" id="page3" class=" ">
    <ion-content padding="true" class="has-header">
        <div style="margin-right:-20px;">
            <button id="home-button17" style="left:-10px;color:#FFFFFF;" class=" button button-calm  button-full icon-right ion-android-settings ">FAMBRAS</button>
        </div>
        <p id="home-markdown5" style="color:#63C4BA;font-size:12px;text-align:center;" class=" ">Em nome de Deus, O Misericordioso, O Misericordiador</p>
        <div class="">
            <img src="img/logo.png" width="50%" height="50%" style="display: block; margin-left: auto; margin-right: auto;">
        </div>
        <div style="margin-right:-20px;">
            <a ui-sref="sobreAFAMBRAS" id="home-button15" style="left:-10px;color:#FFFFFF;" class=" button button-calm  button-full ">Sobre a FAMBRAS</a>
        </div>
        <div style="margin-right:-20px;">
            <a ui-sref="sobreACibalHalal" id="home-button16" style="left:-10px;color:#FFFFFF;" class=" button button-calm  button-full ">Sobre a Cibal Halal</a>
        </div>
        <div style="margin-right:-20px;">
            <a ui-sref="certificaOHalal" id="home-button18" style="left:-10px;color:#FFFFFF;" class=" button button-calm  button-full ">Certificação Halal</a>
        </div>
        <div style="margin-right:-20px;">
            <a ui-sref="verificarCertificado" id="home-button19" style="left:-10px;color:#FFFFFF;" class=" button button-calm  button-full ">Verificar Certificado</a>
        </div>
        <div style="margin-right:-20px;">
            <a ui-sref="governos" id="home-button19" style="left:-10px;color:#FFFFFF;" class=" button button-calm  button-full ">Governos</a>
        </div>
        <div style="margin-right:-20px;">
            <a ui-sref="controleDeQualidade" id="home-button19" style="left:-10px;color:#FFFFFF;" class=" button button-calm  button-full ">Controle de Qualidade</a>
        </div>
        <div style="margin-right:-20px;">
            <a ui-sref="entrarEmContato" id="home-button19" style="left:-10px;color:#FFFFFF;" class=" button button-calm  button-full ">Entrar em Contato</a>
        </div>
    </ion-content>
</ion-view>