<ion-view title="Login" id="page2" class=" ">
    <ion-content padding="true" class="has-header">
        <form id="login-form1" class="list ">
            <ion-list id="login-list1" class=" ">
                <label class="item item-input " id="login-input1">
                    <span class="input-label">Login (E-mail)</span>
                    <input type="text" placeholder="">
                </label>
                <label class="item item-input " id="login-input2">
                    <span class="input-label">Senha</span>
                    <input type="password" placeholder="">
                </label>
            </ion-list>
            <div class="spacer" style="height: 40px;"></div>
            <a ui-sref="home" id="login-button1" class=" button button-stable  button-block ">Entrar</a>
            <a ui-sref="recuperarSenha" id="login-button3" class=" button button-light  button-block ">Esqueci minha senha</a>
            <a ui-sref="novoCadastro" id="login-button2" class=" button button-positive  button-block button-clear ">Primeiro acesso?</a>
        </form>
    </ion-content>
</ion-view>