<ion-view title="Novo Cadastro" id="page5" style="background-color:#63C4BA;" class=" ">
    <ion-content padding="true" class="has-header-login">
        <div class="">
            <img src="img/logo.png" width="30%" height="30%" style="display: block; margin-left: auto; margin-right: auto;">
        </div>
        <form id="novoCadastro-form4" class="list ">
            <div class="spacer" style="height: 2px;"></div>
			<div class="row">
				<div class="col col-100"><label class="item item-input " id="novoCadastro-input10"><input type="text" placeholder="Nome"></label></div>
			</div>
            <div class="spacer" style="height: 2px;"></div>
			<div class="row">
				<div class="col col-100"><label class="item item-input " id="novoCadastro-input11"><input type="email" placeholder="E-mail"></label></div>
			</div>
            <div class="spacer" style="height: 2px;"></div>
			<div class="row">
				<div class="col col-50"><label class="item item-input " id="novoCadastro-input14"><input type="text" placeholder="Data de Nascimento">            </label></div>
				<div class="col col-50"><label class="item item-input " id="novoCadastro-input15"><input type="text" placeholder="Sexo"></label></div>
			</div>
                                   
           
            <div class="spacer" style="height: 2px;"></div>
			<div class="row">
				<div class="col col-50"><label class="item item-input " id="novoCadastro-input17"><input type="text" placeholder="Área de Atuação"></label></div>
				<div class="col col-50"><label class="item item-input " id="novoCadastro-input18"><input type="text" placeholder="Idioma"></label></div>
			</div>
            

            <div class="spacer" style="height: 2px;"></div>
			<div class="row">
				<div class="col col-50"><label class="item item-input " id="novoCadastro-input20"><input type="text" placeholder="País"></label></div>
				<div class="col col-50"><label class="item item-input " id="novoCadastro-input19"><input type="text" placeholder="Cidade"></label></div>
			</div>
            
            <div class="spacer" style="height: 2px;"></div>
            <div class="row">
				<div class="col col-50"><a style="width:100%;background-color:#0DA89D;border-color:white" ui-sref="login" id="login-button2" class=" button button-stable  "><font color="white">Voltar</font></a></div>
				<div class="col col-50"><a style="width:100%;background-color:#0DA89D;border-color:white" id="login-button7" class=" button button-stable" ><font color="white">Gravar</font></a></div>
			</div>
			
			
        </form>
    </ion-content>
</ion-view>