<ion-view title="Recuperar senha" id="page4" class=" ">
    <ion-content padding="true" class="has-header">
        <form id="recuperarSenha-form2" class="list ">
            <label class="item item-input " id="recuperarSenha-input3">
                <span class="input-label">Informe seu e-mail</span>
                <input type="text" placeholder="">
            </label>
            <button id="recuperarSenha-button4" class=" button button-stable  button-block ">Recuperar</button>
        </form>
        <button id="recuperarSenha-button5" class=" button button-stable  button-block ">Voltar</button>
    </ion-content>
</ion-view>