<ion-view title="Sobre a FAMBRAS" id="page7" class=" ">
    <ion-content padding="true" class="has-header">
        <div style="margin-right:-20px;">
            <a ui-sref="home" id="sobreAFAMBRAS-button23" style="left:-10px;color:#FFFFFF;" class=" button button-calm  button-full icon-left ion-android-arrow-back">FAMBRAS</a>

        </div>
        <div style="margin-right:-20px;">
            <button id="sobreAFAMBRAS-button24" style="left:-10px;color:#FFFFFF;" class=" button button-calm  button-full ">Sobre a FAMBRAS</button>
        </div>
		<div class="card">
				<div class="item item-text-wrap">
					 <p id="sobreAFAMBRAS-markdown9" style="color:#000000;text-align:justify;" class=" ">
					 <p style="font-size:18px;color:#63C4BA;"><strong>FAMBRAS Halal a História</strong></p><br>
            <br>Em 1975 comerciantes muçulmanos da Arábia Saudita e Egito vieram ao Brasil, comprar alimentos Halal, em especial carne de frango. Com o intuito de atender a este mercado as empresas brasileiras precisavam se adequar a uma nova realidade, de
            diferentes conceitos e cultura.
			<br><br>Buscando sempre a excelência, Hajj Hussein El Zogbhi convidou as delegações de estudiosos da Al-Azhar e da Liga Islâmica Mundial para visitar o Brasil e conhecer este trabalho.</p>
				</div>
			</div>

        <div style="margin-right:-20px;">
            <button ui-sref="controleDeQualidade" id="sobreAFAMBRAS-button29" style="left:-10px;color:#FFFFFF;background-color:#C8C8C8" class=" button button-dark  button-full "><font color="black">Controle de Qualidade</font></button>
        </div>

        <div class="" style="margin-left: -10px; width: calc(100% + 20px);">
            <img src="img/VVjioJrIQnmhuOau7QEW_bott.png" width="100%" height="100%" style="display:block;">
        </div>
    </ion-content>
</ion-view>
