<ion-view title="Sobre a Cibal Halal" id="page8" class=" " hide-nav-bar="true">
    <ion-content padding="false" class="manual-ios-statusbar-padding">
        <div style="margin-right:-20px;">
            <a ui-sref="home" id="sobreACibalHalal-button35" style="left:-10px;color:#FFFFFF;" class=" button button-calm  button-full icon-left ion-android-arrow-back">FAMBRAS</a>
        </div>
        <div style="margin-right:-20px;">
            <button id="sobreACibalHalal-button36" style="left:-10px;color:#FFFFFF;" class=" button button-calm  button-full ">Sobre a Cibal Halal</button>
        </div>
		<div class="card">
				<div class="item item-text-wrap">
        <p id="sobreACibalHalal-markdown12" style="color:#000000;text-align:justify;" class=" "><p style="font-size:18px;color:#63C4BA;"><strong>Sobre a CIBAL HALAL</strong></p>
            <br>A Central Islâmica Brasileira de Alimentos Halal (CIBAL Halal) é o braço operacional da Federação das Associações Muçulmanas do Brasil (FAMBRAS) no desenvolvimento e na aplicação do Conceito Halal no Brasil. Esse sistema procura garantir a
            confiabilidade e a qualidade dos produtos brasileiros ao mundo islâmico. A CIBAL Halal dedicou-se a criar melhores caminhos para unir a obrigação de fiscalizar e garantir produtos 100% halal aos consumidores muçulmanos e auxiliar no crescimento
            sustentável das indústrias brasileiras nesse gigantesco mercado.</p><br>
        <p id="sobreACibalHalal-markdown13" style="color:#000000;text-align:justify;" class=" "><p style="font-size:18px;color:#63C4BA;"><strong>Objetivos</strong></p>
		<div class="list card">

		<a style="background-color:#e4dada" ui-sref="#" class="item">
			
				Desenvolver o Conceito e o Sistema Halal no Brasil
		</a>
		<a style="background-color:#f7eded" ui-sref="#" class="item">
			
				Garantir a todos consumidores muçulmanos produtos lícitos para o consumo;
		</a>
		<a style="background-color:#e4dada" ui-sref="#" class="item">
			
				Promover a integração da cadeia produtiva (Halal)
		</a>
		<a style="background-color:#f7eded" ui-sref="#" class="item">
			
				Intensificar e aprofundar o relacionamento cultural e comercial entre as indústrias brasileiras e os países islâmicos
		</a>
		<a style="background-color:#e4dada" ui-sref="#" class="item">
			
				Fiscalizar e orientar toda cadeia produtiva, para que as leis islâmicas sejam cumpridas em toda sua plenitude a execução do Sistema Halal
		</a>
		<a style="background-color:#f7eded" ui-sref="#" class="item">
			
				Nossa meta é contribuir para que o Brasil se torne &nbsp;o maior fornecedor de produtos industrializados Halal do mundo</p>
		</a>
		</div>





			</div>
			</div>
    </ion-content>
</ion-view>
