<ion-view title="Verificar Certificado" id="page10" class=" ">
    <ion-content padding="true" class="has-header">
        <div style="margin-right:-20px;">
            <a ui-sref="home" id="verificarCertificado-button44" style="left:-10px;color:#FFFFFF;" class=" button button-calm  button-full icon-left ion-android-arrow-back">FAMBRAS</a>
        </div>
        <div style="margin-right:-20px;">
            <button id="verificarCertificado-button45" style="left:-10px;color:#FFFFFF;" class=" button button-calm  button-full ">Verificar Certificado</button>
        </div>
        <form id="verificarCertificado-form8" class="list ">
		<div class="row">
				<div class="col col-75"><label class="item item-input " id="verificarCertificado-input21"><input type="text" placeholder="Número do certificado"></label></div>
				<div class="col col-25"><button ui-sref="verificarCertificado" id="verificarCertificado-button46" class=" button button-calm  ">Buscar</button></div>
		</div>
		<div class="row">
				
			<div class="col col-50"><button ui-sref="verificarCertificado" id="verificarCertificado-button47" class=" button button-calm  button-block ">Certificado</button></div>
			<div class="col col-50"><a ui-sref="verificarCertificadoFrigorFico" id="verificarCertificado-button49" class=" button button-calm  button-block ">Frigorifico</a></div>
			
			
		</div>
            
            
        </form>
        
		<div class="card">
				<div class="item item-text-wrap">
					 <p id="verificarCertificado-markdown19" style="color:#000000;" class=" ">
						<strong>Certificado Halal/Halal Certificate:</strong>	123238491<br><br>
						
						<strong>Número do Selo/ Seal number:</strong>  2321233<br><br>
						
						<strong>Data de emissão:</strong>	07/07/2016<br><br>
						
						<strong>Exportador/Exporter:</strong>  JBS S.A. Rodovia BR 364, S/N Jd. Prodoeste Km 176<br><br>
						
						<strong>Produtor/Producer Co.:</strong>  JBS S.A. – Pedra Preta/MT – SIF 2019 – Brasil<br><br>
						
						<strong>Unidade de abate/Slaughtering house:</strong> JBS S.A. – Pedra Preta/MT – SIF 2019 – Brasil<br><br>
						
						<strong>Importador/Importer:</strong>  National Service Projects Organization N.S.P.O Josef Tito St. Cairo Egypt<br><br>
						
						<strong>Porto de embarque/Loading port:</strong> Santos, Seaport – Brazil<br><br>
						
						<strong>Porto de destino/Destination port:</strong>  Alexandria – Egypt<br><br>
						
						<strong>Peso líquido/Net weight:</strong>  10.000,000 Kg<br><br>
						
						<strong>Peso bruto/Gross weight:</strong>  11.000,000 Kg<br><br>
			
					</p>
				</div>
			</div>
       

    </ion-content>
</ion-view>