<ion-view title="Verificar Certificado" id="page10" class=" " hide-nav-bar="true">
    <ion-content padding="true" class="has-header">
        <div style="margin-right:-20px;">
            <a ui-sref="home" id="verificarCertificado-button44" style="left:-10px;color:#FFFFFF;" class=" button button-calm  button-full icon-left ion-android-arrow-back">FAMBRAS</a>
        </div>
        <div style="margin-right:-20px;">
            <button id="verificarCertificado-button45" style="left:-10px;color:#FFFFFF;" class=" button button-calm  button-full ">Verificar Certificado</button>
        </div>
        <form id="verificarCertificado-form8" class="list ">
		<div class="row">
				<div class="col col-67"><label class="item item-input " id="verificarCertificado-input21"><input type="text" placeholder="Nº do certificado"></label></div>
				<div class="col"><button ui-sref="verificarCertificado" id="verificarCertificado-button46" class=" button button-calm  ">Buscar</button></div>
		</div>
		<div class="row">
																																																		
			<div class="col col-50"><a style="background-color:#54a99f;" ui-sref="verificarCertificado" id="verificarCertificado-button47" class=" button button-block "><p style="color:#ffffff">Certificado</p></a></div>
			<div class="col col-50"><a style="background-color:#e4dada;" ui-sref="verificarCertificadoFrigorFico" id="verificarCertificado-button49" class=" button button-block "><p style="color:#353535">Frigorifico</p></a></div>


		</div>


        </form>

		<div class="card">
				<div class="item item-text-wrap">
					 <p id="verificarCertificado-markdown19" style="color:#000000;" class=" ">
						<strong>Certificado Halal/Halal Certificate:</strong><p style="color:#353535;">	123238491</p><br>

						<strong>Número do Selo/ Seal number:</strong><br><p style="color:#353535;">	  2321233</p><br>

						<strong>Data de emissão:</strong><br><p style="color:#353535;">		07/07/2016</p><br>

						<strong>Exportador/Exporter:</strong><br><p style="color:#353535;">	  JBS S.A. Rodovia BR 364, S/N Jd. Prodoeste Km 176</p><br>

						<strong>Produtor/Producer Co.:</strong><br><p style="color:#353535;">	  JBS S.A. – Pedra Preta/MT – SIF 2019 – Brasil</p><br>

						<strong>Unidade de abate/Slaughtering house:</strong><br><p style="color:#353535;">	 JBS S.A. – Pedra Preta/MT – SIF 2019 – Brasil</p><br>

						<strong>Importador/Importer:</strong><br><p style="color:#353535;">	  National Service Projects Organization N.S.P.O Josef Tito St. Cairo Egypt</p><br>

						<strong>Porto de embarque/Loading port:</strong><br><p style="color:#353535;">	 Santos, Seaport – Brazil</p><br>

						<strong>Porto de destino/Destination port:</strong><br><p style="color:#353535;">	  Alexandria – Egypt</p><br>

						<strong>Peso líquido/Net weight:</strong><br><p style="color:#353535;">	  10.000,000 Kg</p><br>

						<strong>Peso bruto/Gross weight:</strong><br><p style="color:#353535;">	 11.000,000 Kg</p><br>

					</p>
				</div>
			</div>


    </ion-content>
</ion-view>
