<ion-view title="Verificar Certificado" id="page10" class=" " hide-nav-bar="true">
    <ion-content padding="false" class="manual-ios-statusbar-padding">
        <div style="margin-right:-20px;">
            <a ui-sref="home" id="verificarCertificado-button44" style="left:-10px;color:#FFFFFF;" class=" button button-calm  button-full icon-left ion-android-arrow-back">FAMBRAS</a>
        </div>
        <div style="margin-right:-20px;">
            <button id="verificarCertificado-button45" style="left:-10px;color:#FFFFFF;" class=" button button-calm  button-full ">Verificar Certificado</button>
        </div>
        <form id="verificarCertificado-form8" class="list ">
		<div class="row">
				<div class="col col-67"><label class="item item-input " id="verificarCertificado-input21"><input type="text" placeholder="Nº do certificado"></label></div>
				<div class="col"><button ui-sref="verificarCertificado" id="verificarCertificado-button46" class=" button button-calm  ">Buscar</button></div>
		</div>
		
            
            
        </form>
        
	
       

    </ion-content>
</ion-view>