<ion-view title="Verificar Certificado - Frigorífico" id="page11" class=" ">
    <ion-content padding="true" class="has-header">
	
        <div style="margin-right:-20px;">
            <a ui-sref="home" id="verificarCertificadoFrigorFico-button50" style="left:-10px;color:#FFFFFF;" class=" button button-calm  button-full icon-left ion-android-arrow-back">FAMBRAS</a>
        </div>
        <div style="margin-right:-20px;">
            <button id="verificarCertificadoFrigorFico-button51" style="left:-10px;color:#FFFFFF;" class=" button button-calm  button-full ">Verificar Certificado</button>
        </div>
        <form id="verificarCertificadoFrigorFico-form9" class="list ">
          <div class="row">
				<div class="col col-67"><label class="item item-input " id="verificarCertificado-input21"><input type="text" placeholder="Nº do certificado"></label></div>
				<div class="col"><button ui-sref="verificarCertificado" id="verificarCertificado-button46" class=" button button-calm  ">Buscar</button></div>
		</div>
        </form>
       
		<div class="row">
				
			<div class="col col-50"><a style="background-color:#e4dada;" ui-sref="verificarCertificado" id="verificarCertificado-button47" class=" button button-block "><p style="color:#353535">Certificado</p></a></div>
			<div class="col col-50"><a style="background-color:#54a99f;" ui-sref="verificarCertificadoFrigorFico" id="verificarCertificado-button49" class=" button button-block "><p style="color:#ffffff">Frigorifico</p></a></div>

			
		</div>
        <p id="verificarCertificadoFrigorFico-markdown20" style="color:#000000;" class=" ">
			
			<ion-slide-box on-slide-changed="slideHasChanged($index)">
				<ion-slide>
					<img src="img/principal.jpg" width="100%" height="100%" style="display: block; margin-left: auto; margin-right: auto;">
				</ion-slide>
				<ion-slide>
					<img src="img/inst/i1.jpg" width="100%" height="100%" style="display: block; margin-left: auto; margin-right: auto;">
				</ion-slide>
				<ion-slide>
					<img src="img/inst/i2.jpg" width="100%" height="100%" style="display: block; margin-left: auto; margin-right: auto;">
				</ion-slide>
				<ion-slide>
					<img src="img/inst/i3.jpg" width="100%" height="100%" style="display: block; margin-left: auto; margin-right: auto;">
				</ion-slide>
				<ion-slide>
					<img src="img/inst/i4.jpg" width="100%" height="100%" style="display: block; margin-left: auto; margin-right: auto;">
				</ion-slide>
				<ion-slide>
					<img src="img/inst/i5.jpg" width="100%" height="100%" style="display: block; margin-left: auto; margin-right: auto;">
				</ion-slide>
			</ion-slide-box>
			<div class="card">
				<div class="item item-text-wrap">
			<div class="row">
				<div class="col col-50"><br><strong><h2 style="color:#63C4BA;" >A EMPRESA</h2></strong> 
				
			</div>
				<div class="col col-50"><img src="img/logojbs.png" width="100%" height="100%" style="display: block; margin-left: auto; margin-right: auto;"></div>
			</div>
			<div align="justify" class="row">
				
				<BR>A JBS é a líder mundial em processamento de carnes bovina, ovina e de aves. Com mais de 200 mil colaboradores ao redor do mundo,  a companhia possui 340 unidades de produção e atua nas áreas de alimentos, couro, biodiesel, colágeno , embalagens metálicas e produtos de limpeza.
Presente em 100% dos mercados consumidores, a JBS é a maior exportadora de proteína animal, vendendo para mais de 150 países.<br>
 
			
			</div>
			<div align="center" >
							
				www.jbs.com.br <BR>
			
			</div>
			</div>
			</div>
			<div class="row">
				<strong><h2 style="color:#63C4BA;" >UNIDADES DE ABATE</h2></strong> 
				
			</div>
			<div class="card">
				<div class="item item-text-wrap">
			
			<strong>Vilhena – RO – Brasil<BR>SIF: 4333</strong>
			<div class="row">
			
				<ion-slide-box on-slide-changed="slideHasChanged($index)">
				<ion-slide>
					
					<img src="img/und/v1.jpg" width="100%" height="100%" style="display: block; margin-left: auto; margin-right: auto;">
				</ion-slide>
				<ion-slide>
					
					<img src="img/und/v2.jpg" width="100%" height="100%" style="display: block; margin-left: auto; margin-right: auto;">
				</ion-slide>
				
			</ion-slide-box>
				
			</div>
			</div>
			</div>
			<div class="card">
				<div class="item item-text-wrap">
			<strong>Alta Floresta– MT – Brasil<BR>SIF: 4333</strong>
			<div class="row">
				<ion-slide-box on-slide-changed="slideHasChanged($index)">
				<ion-slide>
					
					<img src="img/und/a1.jpg" width="100%" height="100%" style="display: block; margin-left: auto; margin-right: auto;">
				</ion-slide>
				<ion-slide>
					
					<img src="img/und/a2.jpg" width="100%" height="100%" style="display: block; margin-left: auto; margin-right: auto;">
				</ion-slide>				
			</ion-slide-box>
				
			</div>
			</div>
			</div>
			
			<div class="card">
				<div class="item item-text-wrap">
			<strong>Goiânia – GO – Brasil<BR>SIF: 0862</strong>
			<div class="row">
				<ion-slide-box on-slide-changed="slideHasChanged($index)">
				
				<ion-slide>
					
					<img src="img/und/g1.jpg" width="100%" height="100%" style="display: block; margin-left: auto; margin-right: auto;">
				</ion-slide>
				<ion-slide>
					
					<img src="img/und/g2.jpg" width="100%" height="100%" style="display: block; margin-left: auto; margin-right: auto;">
				</ion-slide>
			</ion-slide-box>
				
			</div>
			</div>
			</div>
			
            
            
    </ion-content>
</ion-view>