/* Empty. Add your own CSS if you like */
::-webkit-input-placeholder {
    color:    #999;
}
:-moz-placeholder {
    color:    #999;
}
::-moz-placeholder {
    color:    #999;
}
:-ms-input-placeholder {
    color:    #999;
}

/* Different color for some fields */

#placeCustom::-webkit-input-placeholder,
#textarea_2::-webkit-input-placeholder
{
  color:    white;
}

#placeCustom:-moz-placeholder,
#textarea_2:-moz-placeholder 
{
  color:    white;
}

#placeCustom::-moz-placeholder,
#textarea_2::-moz-placeholder 
{
  color:    white;
}

#placeCustom:-ms-input-placeholder,
#textarea_2:-ms-input-placeholder 
{
  color:    white;
}
